<div class="map-container">
    <div class="warning-map-status">
        <p>
            <span class="bold-text">{{warnings}}</span><br>
            {{warningsDate}}
        </p>
        <p>
            <span class="bold-text">{{updated}}</span><br>
            {{updatedDate}}<br>
            {{atTime}} {{updatedTime}}
        </p>
    </div>
    <div class="data-providers noselect">
        <span>{{dataProviderFirst}}</span><br>
        <span>{{dataProviderSecond}}</span>
    </div>
    <div class="map-large day-map-large-{{index}}">
        <div class="day-map-large"></div>
    </div>
</div>
