<div class="row date-selector">
    <div class="main_navbar">
        <nav class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
            </div>
            <nav class="all-days">
                <ul id="fmi-day-small-view" class="nav nav-tabs nav-justified">
                </ul>
            </nav>
        </nav>
    </div>
    <div id="fmi-day-large-view" class="tab-content">
        <div class="drag-container zoom-zero">
        </div>
    </div>
</div>
