<a href="#day{{index}}-map" class="day" id="day{{index}}" data-day="{{index}}" data-toggle="tab">
    <div class="date-selector-cell-header">
        <div class="date-selector-text mobile-level-{{severity}}">
            <span class="bold-text weekday-text">{{weekday}}</span> {{date}}
        </div>
    </div>
    <div class="date-selector-cell-body map-container">
        <div id="day-map-small-{{index}}" class="map-small"></div>
    </div>
    <div class="date-selector-cell-footer dark-level-{{severity}}"></div>
</a>
