<div class="loading-spinner"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
            <div id="fmi-days-view"></div>
            <div id="fmi-regions-view"></div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 symbol-list">
            <div id="fmi-warnings-view"></div>
        </div>
    </div>
</div>
