<div class="panel-heading current-warning-heading hidden">
    <span class="region-item-text">
        {{name}}
    </span>
    <a data-toggle="collapse" data-parent="#accordion-{{regionType}}" href="#collapse-{{regionType}}-{{region}}"
       class="btn btn-default current-warning-toggle collapsed"></a>
</div>
<div id="collapse-{{regionType}}-{{region}}" class="panel-collapse collapse">
    <div class="panel-body current-description">
        <div class="current-description-table">
        </div>
    </div>
</div>
