<div class="row">
    <h5 id="header-land">{{land}}</h5>
    <div id="accordion-land" class="panel-group">
    </div>
    <h5 id="header-sea">{{sea}}</h5>
    <div id="accordion-sea" class="panel-group">
    </div>
</div>
