<div class="symbol-list-table">
    <div class="symbol-list-cell symbol-list-cell-image">
        <div class="level-{{severity}} {{warningContext}} symbol-list-image-column symbol-list-image warning-image">
        </div>
    </div>
    <div class="symbol-list-cell symbol-list-cell-text">
        <div class="symbol-list-text-select">
            <div class="item-text symbol-list-text">
                {{name}}
            </div>
            <div class="symbol-list-select-container hidden-xs">
               <div data-warning="{{warningContext}}" class="symbol-list-select flag-selected hidden hidden-xs">
               </div>
            </div>
            <div class="symbol-list-right-edge hidden-xs">
            </div>
        </div>
        <hr>
    </div>
</div>
