@import '../colors.scss';

$dark-gray-text-color: $white;
$dark-gray-outline-color: $turquoise;
$dark-gray-date-selector-background-color: $darkest-gray;
$dark-gray-date-selector-footer-color: $dark-gray;
$dark-gray-date-selector-mobile-text-color: $black;
$dark-gray-border-color: $black;
$dark-gray-horizontal-rule-color: $darker-gray;
$dark-gray-current-warning-heading-color: $darkest-gray;
$dark-gray-current-warning-toggle-color: $darker-gray;
$dark-gray-current-warning-toggle-active-color: $darkest-gray;
$dark-gray-legend-heading-background-color: $black;
$dark-gray-legend-container-background-color: $black;
$dark-gray-legend-background-color: $variant-gray-darker;
$dark-gray-legend-toggle-background-color: $darker-gray;
$dark-gray-legend-active-toggle-background-color: $lighter-gray;
$dark-gray-description-background-color: $darker-gray;
$dark-gray-description-border-color: $dark-gray;
$dark-gray-ext-link-color: $lighter-gray;
$dark-gray-button-focus-color: $lighter-gray;
$dark-gray-button-border-color: $black;
$dark-gray-popup-background-color: $black;
$dark-gray-popup-filter-color: rgba(0, 0, 0, 0.8);
$dark-gray-popup-border-color: $dark-gray;
$dark-gray-popup-table-background-color: $darker-gray;
$dark-gray-green: white;
$dark-gray-yellow: $variant-gray-dark;
$dark-gray-orange: $variant-gray-darkest;
$dark-gray-red: black;
$dark-gray-green-shadow: $dark-gray;
$dark-gray-yellow-shadow: $dark-gray;
$dark-gray-orange-shadow: $dark-gray;
$dark-gray-red-shadow: $dark-gray;
