@import '../colors.scss';

$dark-text-color: $white;
$dark-outline-color: $turquoise;
$dark-date-selector-background-color: $darkest-gray;
$dark-date-selector-footer-color: $dark-gray;
$dark-date-selector-mobile-text-color: $black;
$dark-border-color: $black;
$dark-horizontal-rule-color: $darker-gray;
$dark-current-warning-heading-color: $darkest-gray;
$dark-current-warning-toggle-color: $darker-gray;
$dark-current-warning-toggle-active-color: $darkest-gray;
$dark-legend-container-background-color: $darkest-gray;
$dark-legend-heading-background-color: $darkest-gray;
$dark-legend-background-color: $darkest-gray;
$dark-legend-toggle-background-color: $darker-gray;
$dark-legend-active-toggle-background-color: $dark-gray;
$dark-description-background-color: $darker-gray;
$dark-description-border-color: $dark-gray;
$dark-ext-link-color: $light-blue;
$dark-button-focus-color: $darker-gray;
$dark-button-border-color: $darker-gray;
$dark-popup-background-color: $black;
$dark-popup-filter-color: rgba(255, 255, 255, 0.2);
$dark-popup-border-color: $dark-gray;
$dark-popup-table-background-color: $darker-gray;
$dark-green: $green;
$dark-yellow: $yellow;
$dark-orange: $orange;
$dark-red: $red;
$dark-green-shadow: $green-shadow;
$dark-yellow-shadow: $yellow-shadow;
$dark-orange-shadow: $orange-shadow;
$dark-red-shadow: $red-shadow;
