@import '../colors.scss';

$light-gray-text-color: $black;
$light-gray-outline-color: $turquoise;
$light-gray-date-selector-background-color: $lightest-gray;
$light-gray-date-selector-footer-color: $gray;
$light-gray-date-selector-mobile-text-color: $black;
$light-gray-border-color: $white;
$light-gray-horizontal-rule-color: $lighter-gray;
$light-gray-current-warning-heading-color: $lightest-gray;
$light-gray-current-warning-toggle-color: $dark-gray;
$light-gray-current-warning-toggle-active-color: $darker-gray;
$light-gray-legend-heading-background-color: $white;
$light-gray-legend-container-background-color: $white;
$light-gray-legend-background-color: $variant-gray-darker;
$light-gray-legend-toggle-background-color: $dark-gray;
$light-gray-legend-active-toggle-background-color: $darker-gray;
$light-gray-description-background-color: $lighter-gray;
$light-gray-description-border-color: $gray;
$light-gray-ext-link-color: $darker-gray;
$light-gray-button-focus-color: $darker-gray;
$light-gray-button-border-color: $white;
$light-gray-popup-background-color: $white;
$light-gray-popup-filter-color: rgba(0, 0, 0, 0.2);
$light-gray-popup-border-color: $light-gray;
$light-gray-popup-table-background-color: $lighter-gray;
$light-gray-green: white;
$light-gray-yellow: $variant-gray-dark;
$light-gray-orange: $variant-gray-darkest;
$light-gray-red: black;
$light-gray-green-shadow: $light-gray;
$light-gray-yellow-shadow: $light-gray;
$light-gray-orange-shadow: $light-gray;
$light-gray-red-shadow: $light-gray;
$light-gray-border: $variant-gray-darker;
