@import '../colors.scss';

$light-text-color: $black;
$light-outline-color: $turquoise;
$light-date-selector-background-color: $lightest-gray;
$light-date-selector-footer-color: $gray;
$light-date-selector-mobile-text-color: $black;
$light-border-color: $white;
$light-horizontal-rule-color: $lighter-gray;
$light-current-warning-heading-color: $lightest-gray;
$light-current-warning-toggle-color: $dark-gray;
$light-current-warning-toggle-active-color: $blue;
$light-legend-heading-background-color: $white;
$light-legend-container-background-color: $white;
$light-legend-background-color: $variant-gray-darker;
$light-legend-toggle-background-color: $dark-gray;
$light-legend-active-toggle-background-color: $blue;
$light-description-background-color: $lighter-gray;
$light-description-border-color: $gray;
$light-ext-link-color: $dark-blue;
$light-button-focus-color: $blue;
$light-button-border-color: $blue;
$light-popup-background-color: $white;
$light-popup-filter-color: rgba(0, 0, 0, 0.2);
$light-popup-border-color: $light-gray;
$light-popup-table-background-color: $lighter-gray;
$light-green: $green;
$light-yellow: $yellow;
$light-orange: $orange;
$light-red: $red;
$light-green-shadow: $green-shadow;
$light-yellow-shadow: $yellow-shadow;
$light-orange-shadow: $orange-shadow;
$light-red-shadow: $red-shadow;
