@import "../colors.scss";

$gray-text-color: $black;
$gray-outline-color: $turquoise;
$gray-date-selector-background-color: $lightest-gray;
$gray-date-selector-footer-color: $gray;
$gray-date-selector-mobile-text-color: $black;
$gray-border-color: $white;
$gray-horizontal-rule-color: $lighter-gray;
$gray-current-warning-heading-color: $lightest-gray;
$gray-current-warning-toggle-color: $light-gray;
$gray-current-warning-toggle-active-color: $dark-blue;
$gray-legend-heading-background-color: $white;
$gray-legend-container-background-color: $white;
$gray-legend-background-color: $lighter-gray;
$gray-legend-toggle-background-color: $light-gray;
$gray-legend-active-toggle-background-color: $dark-blue;
$gray-description-background-color: $lighter-gray;
$gray-description-border-color: $gray;
$gray-ext-link-color: $darker-blue;
$gray-button-focus-color: $dark-blue;
$gray-button-border-color: $dark-blue;
$gray-popup-background-color: $white;
$gray-popup-filter-color: rgba(0, 0, 0, 0.2);
$gray-popup-border-color: $light-gray;
$gray-popup-table-background-color: $lighter-gray;
$gray-popup-header-text-color: $black;
$gray-green-shadow: $light-gray;
$gray-yellow-shadow: $light-gray;
$gray-orange-shadow: $light-gray;
$gray-red-shadow: $light-gray;
