$transparent: rgba(0, 0, 0, 0);
$green: #6af86a;
$yellow: #f8f800;
$orange: #f9bf2e;
$red: #ff0909;
$green-shadow: #65e465;
$yellow-shadow: #e4e406;
$orange-shadow: #e5b113;
$red-shadow: #ed0200;
$white: #ffffff;
$black: #191b22;
$lightest-gray: #f8f8f8;
$lighter-gray: #eee;
$light-gray: #e8e8e8;
$gray: #e3e3e3;
$dark-gray: #979797; // from arrow-*.svg
$darker-gray: #434752;
$darkest-gray: #282b34;
$disabled-color: #ccc;
$dark-blue: #3a66e3;
$darker-blue: #303193;
$tooltip-border-color: $dark-gray;
$tooltip-background-color: $white;
$tooltip-inner-color: $black;
$turquoise: rgba(2, 184, 206, 0.4);
$notification-color: #e7f0fa;
