@import "./themes/light.scss";
@import "./themes/dark.scss";

$base-path: '../assets/';
$font-size: 16px;
$current-warning-height: 38px;
$current-warning-image-height: 28px;
$current-description-image-height: 48px;
$symbol-list-width: 250px;
$symbol-list-line-height: 48px;
$symbol-list-select-height: 30px;
$symbol-list-image-size: 44px;
$image-padding: 3px;
$map-large-width: 440px;
$map-large-height: 550px;
$map-small-width: 75px;
$map-small-height: 120px;
$image-base-path: $base-path + 'img/';
$warning-image-path: $image-base-path + 'warning/';
$ui-image-path: $image-base-path + 'ui/';
$image-extension: '.svg';
$font-base-path: $base-path + 'fonts/';
$tooltip-arrow-width: 5px;
$tooltip-border-width: 1px;
$tooltip-arrow-border-width: $tooltip-arrow-width + $tooltip-border-width;
$popup-width: 250px;
$font-family: Roboto, Arial, 'Open Sans', Helvetica, sans-serif;
