$base-path: '../assets/';
$current-warning-height: 38px;
$current-warning-image-height: 28px;
$current-description-image-height: 48px;
$symbol-list-line-height: 48px;
$symbol-list-select-height: 30px;
$symbol-list-image-size: 44px;
$image-padding: 3px;
$map-large-width: 440px;
$map-large-height: 550px;
$map-small-width: 75px;
$map-small-height: 120px;
$image-base-path: $base-path + 'img/';
$warning-image-path: $image-base-path + 'warning/';
$ui-image-path: $image-base-path + 'ui/';
$image-extension: '.svg';
$font-base-path: $base-path + 'fonts/';
$green: #6af86a;
$yellow: #f8f800;
$orange: #f9bf2e;
$red: #ff0909;
$green-shadow: #65e465;
$yellow-shadow: #e4e406;
$orange-shadow: #e5b113;
$red-shadow: #ed0200;
$white: #ffffff;
$black: #363636;
$gray: #e8e8e8;
$dark-gray: #e3e3e3;
$tooltip-arrow-width: 5px;
$tooltip-border-width: 1px;
$tooltip-border-color: $dark-gray;
$tooltip-background-color: $white;
$tooltip-inner-color: $black;
$tooltip-arrow-border-width: $tooltip-arrow-width + $tooltip-border-width;
