@import './themes/dark.scss';
@import './themes/light.scss';
@import './themes/light-gray.scss';
@import './themes/dark-gray.scss';

$base-path: '../assets/';
$font-size: 1rem;
$warning-symbol-font-size: 0.625rem;
$current-warning-height: 38px;
$current-warning-image-height: 28px;
$current-description-image-height: 48px;
$symbol-list-width: 260px;
$symbol-list-line-height: 50px;
$symbol-list-select-height: 30px;
$symbol-list-image-size: 44px;
$image-padding: 3px;
$day-small-width: 88px;
$day-small-height: 180px;
$day-small-mobile-height: 84px;
$map-large-width: 440px;
$map-large-height: 550px;
$map-small-width: 75px;
$map-small-height: 120px;
$image-base-path: $base-path + 'img/';
$warning-image-path: $image-base-path + 'warning/';
$ui-image-path: $image-base-path + 'ui/';
$image-extension: '.svg';
$font-base-path: $base-path + 'fonts/';
$tooltip-arrow-width: 5px;
$tooltip-border-width: 1px;
$tooltip-arrow-border-width: $tooltip-arrow-width + $tooltip-border-width;
$popup-width: 250px;

@font-face {
  font-family: 'Noto Sans';
  font-weight: normal;
  font-style: normal;
  src: url($font-base-path + 'Noto_Sans/Noto-Sans-regular.woff2') format('woff2');
  font-display: swap;
}
$font-family: Roboto, Helvetica, Arial, 'Noto Sans', sans-serif;
$symbol-font-family: 'Noto Sans', sans-serif;
