@import "./constants.scss";
@import url('https://fonts.googleapis.com/css?family=Roboto');

@for $i from 0 through 72 {
  $angle: 5 * $i;
  $rotationDegree: unquote($angle + 'deg');
  .transform-rotate-#{$angle} {
    transform: rotate($rotationDegree);
  }
}

div.symbol-image {
  display: table;
}

.light-theme .level-0, .dark-theme .level-0 {
  background-color: $green;
}

.light-theme .level-1, .dark-theme .level-1 {
  background-color: $green;
}

.light-theme .level-2, .dark-theme .level-2 {
  background-color: $yellow;
}

.light-theme .level-3, .dark-theme .level-3 {
  background-color: $orange;
}

.light-theme .level-4, .dark-theme .level-4 {
  background-color: $red;
}

.light-gray-theme .level-0, .dark-gray-theme .level-0 {
  background-color: $lighter-gray;
}

.light-gray-theme .level-1, .dark-gray-theme .level-1 {
  background-color: $lighter-gray;
}

.light-gray-theme .level-2, .dark-gray-theme .level-2 {
  background-color: $light-gray;
}

.light-gray-theme .level-3, .dark-gray-theme .level-3 {
  background-color: $dark-gray;
}

.light-gray-theme .level-4, .dark-gray-theme .level-4 {
  background-color: $darker-gray;
}

.thunder-storm {
  background-image: url($warning-image-path + 'thunder-storm' + $image-extension);
}

.wind {
  background-image: url($warning-image-path + 'wind' + $image-extension);
}

.rain {
  background-image: url($warning-image-path + 'rain' + $image-extension);
}

.traffic-weather {
  background-image: url($warning-image-path + 'traffic-weather' + $image-extension);
}

.pedestrian-safety {
  background-image: url($warning-image-path + 'pedestrian-safety' + $image-extension);
}

.forest-fire-weather {
  background-image: url($warning-image-path + 'forest-fire-weather' + $image-extension);
}

.grass-fire-weather {
  background-image: url($warning-image-path + 'grass-fire-weather' + $image-extension);
}

.hot-weather {
  background-image: url($warning-image-path + 'hot-weather' + $image-extension);
}

.cold-weather {
  background-image: url($warning-image-path + 'cold-weather' + $image-extension);
}

.uv-note {
  background-image: url($warning-image-path + 'uv-note' + $image-extension);
}

.flood-level {
  background-image: url($warning-image-path + 'flood-level-3' + $image-extension);
}

.sea-wind {
  background-image: url($warning-image-path + 'sea-wind' + $image-extension);
}

.sea-thunder-storm {
  background-image: url($warning-image-path + 'sea-thunder-storm' + $image-extension);
}

.sea-water-height-high-water {
  background-image: url($warning-image-path + 'sea-water-height-high-water' + $image-extension);
}

.sea-water-height-shallow-water {
  background-image: url($warning-image-path + 'sea-water-height-shallow-water' + $image-extension);
}

.sea-wave-height {
  background-image: url($warning-image-path + 'sea-wave-height' + $image-extension);
}

.sea-icing {
  background-image: url($warning-image-path + 'sea-icing' + $image-extension);
}

.several {
  background-image: url($warning-image-path + 'several' + $image-extension);
}

span.symbol-text {
  display: table-cell;
  vertical-align: middle;
  line-height: normal;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  font-family: $font-family;
  color: #ffffff;
  text-anchor: middle;
  font-weight: 700;
}

@media (max-width: 575px) {
  .symbol-text {
    display: none;
  }
}
